<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/start.css"/>
    <link rel="stylesheet" href="/stylesheets/aktuelles.css"/>
    <link rel="stylesheet" href="/stylesheets/jugend.css"/>
    <script src="javascripts/js.js"></script>
    <script src="javascripts/navigator.js"></script>
    <script src="javascripts/cookieManager.js"></script>

    <link rel="stylesheet" href="trumbowyg/dist/ui/trumbowyg.min.css">

</head>
<body>
<div id="banner"><img src="/images/images/title.jpg"></div>


<nav id="nav">
    <button id="hamburger" onclick="Client.openHamburgerMenu()"><img src="images/icons/hamburger_menu.svg"></button>
    <ul class="navContainer">
        <li class="noDropdown" onclick="navigate('start start');"><input type="button" value="Start"/></li>
        <li class="dropdown">Verein
            <ul class="list">
                <li class="item" onclick="navigate('verein events');"><input type="button" value="Events"/></li>
                <li class="item" onclick="navigate('verein organisation');"><input type="button" value="Organisation"/>
                </li>
                <li class="item" onclick="navigate('verein sponsoren');"><input type="button" value="Sponsoren"/></li>
                <li class="item" onclick="navigate('verein halle');"><input type="button" value="Unsere Halle"/></li>
            </ul>
        </li>
        <li class="dropdown">Erwachsene
            <ul class="list">
                <li class="item" onclick="navigate('erwachsene training');"><input type="button" value="Training"/>
                </li>
                <li class="item" onclick="navigate('erwachsene mannschaften');"><input type="button"
                                                                                         value="Mannschaften"
                    /></li>
            </ul>
        </li>
        <li class="dropdown">Jugend
            <ul class="list">
                <li class="item" onclick="navigate('jugend training');"><input type="button" value="Training" /></li>
                <li class="item" onclick="navigate('jugend trainer');"><input type="button" value="Trainer" /></li>
                <li class="item" onclick="navigate('jugend mannschaften');"><input type="button" value="Mannschaften" />
                </li>
            </ul>
        </li>
        <li class="dropdown">Termine
            <ul class="list">
                <li class="item" onclick="navigate('termine spiele');"><input type="button" value="Spiele" /></li>
                <li class="item" onclick="navigate('termine feste');"><input type="button" value="Feste und andere Termine"
                                        /></li>
            </ul>
        </li>
        <li class="noDropdown" onclick="navigate('galerie galerie');"><input type="button" value="Galerie" /></li>
        <li class="noDropdown" onclick="navigate('aktuelles aktuelles');"><input type="button" value="Aktuelles" /></li>
        <li class="dropdown">Anderes
            <ul class="list">
                <li class="item" onclick="navigate('anderes links');"><input type="button" value="Links" /></li>
                <li class="item" onclick="navigate('anderes downloads');"><input type="button" value="Downloads" /></li>
                <li class="item" onclick="navigate('anderes impressum');"><input type="button" value="Impressum" /></li>
                <li class="item" onclick="navigate('anderes datenschutz');"><input type="button" value="Datenschutz" />
                </li>
                <li class="item" onclick="navigate('anderes kontakt');"><input type="button" value="Kontakt" /></li>
            </ul>
        </li>
    </ul>
</nav>


<div id="pageContent">
    <%- content %>
    <!-- The page content of one of the HTML files in './server/pages/' is being loaded here. ('start.html' by default) -->
</div>
<input type="hidden" id="nextGamesData" value="">
<input type="hidden" id="newsArticlesData" value="">
<input type="hidden" id="articlesInfo" value="">

<footer>
    <br>
    <div id="logosContainer">
        <div id="logos"><img src="images/logos/logo_ttc_farbig.png" alt="Logo TTC Klingenmünster"><img
                    src="images/logos/logo_joola.png" alt="Logo Joola"></div>
    </div>
    <p id="copyright" onclick="navigate('login')">© 2023 TTC Klingenmünster </p>
</footer>

<div id="alertPlaceholder"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="trumbowyg/dist/trumbowyg.min.js"></script>

</body>

</html>
