@import "./variables";

.twoColumnInfoGrid {
  display: flex;
  width: 100%;
  max-width: 1400px;
  gap: 40px;
  margin-bottom: 40px;
  @include size-s {
    display: block;
  }
  img {
    width: 100%;
    height: 600px;
    width: 800px;
    object-fit: cover;
    border-radius: $border-radius;
    @include size-s {
      width: 100%;
      height: 350px;
      border-radius: 0;
    }
  }
  .twoColumnInfoGrid_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include size-s {
      width: 95%;
      margin-left: 2.5%;
    }
    .contactButton {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: transparent;
      border: none;
      margin-bottom: 10px;
      div {
        background-color: $primary;
        border-radius: $border-radius;
        padding: 10px;
        img {
          height: 30px;
          width: 30px;
        }
      }
      a {
        font-size: $paragraph-size;
        font-family: Lato;
      }
    }
  }
}
