#start-img-container {
   margin: 0 0 0 var(--1xDist);
   width: 100%;
   background-color: var(--primary);
   border-radius: var(--border-radius);
}

#startText {
   height: 464px;
   display: flex;
   width: 100%;
   overflow: hidden;
}

.text_content {
   flex: 0 0 478px;
}

.text_content h1{
   margin-bottom: var(--1xDist);
}

.start-img-container {
   width: 492px;
}

#start-img-container img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius);
}




#infoBoxes {
   margin-top: var(--2xDist);
   display: grid;
   border-radius: var(--border-radius);
   grid-template-columns: 1fr 1fr 1fr;
}

.box{
   border-radius: var(--border-radius);
   padding: var(--2xDist);
   background-color: var(--primary);
   position: relative;
}

.box p{
   margin-bottom: 80px;
}

.box h1{
   margin-bottom: var(--1xDist);
}

.box button{
   padding: 0 25px 0 25px;
   margin-top: var(--1xDist);
   height: 50px;
   font-size: 20px;
   background-color: var(--callToActionLight);
   border-radius: 30px;
   border: 0;
   font-family: LGC-Bold, sans-serif;
   position: absolute;
   bottom: var(--2xDist);
   right: var(--2xDist);
   color: white;
}

.box button :hover{
   background-color: var(--accentColorHover);
}

#infoBoxes :nth-child(1 of .box){
   margin: 0 var(--1xDist) 0 0;
}

#infoBoxes :nth-child(3 of .box){
   margin: 0  0 0 var(--1xDist);
}

.news {
   margin-top: var(--2xDist);
   border-radius: var(--border-radius);
   background-color: var(--primary);
   padding: var(--2xDist);
}

.news h2 {
   margin-bottom: var(--1xDist);
   color: var(--accentColor);
}

#newsWrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.newsItem {
   border-radius: var(--border-radius);
   height: 100%;
   padding: 0;
   background-color: var(--accentColor);
   overflow: hidden;
}

#newsWrapper :nth-child(1 of .newsItem){
   margin: 0 var(--05xDist) 0 0;
}

#newsWrapper :nth-child(2 of .newsItem){
   margin: 0 var(--05xDist)   0 var(--05xDist) ;
}

#newsWrapper :nth-child(3 of .newsItem){
   margin: 0 0 0 var(--05xDist) ;
}

.image {
   border-radius: var(--border-radius) var(--border-radius) 0 0 ;
   box-shadow: 0 0 20px rgba(0,0,0,0.3);
   height: 300px;
}

.image img{
   border-radius: var(--border-radius) var(--border-radius) 0 0 ;
   object-fit: cover;
   width: 100%;
   height: 300px;
}

.titleWrapper {
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.title {
   text-align: center;
   color: white;
   font-family: LGC, sans-serif;
   width: 80%;
   margin-left: 10%;
   text-decoration: underline;
}

.infoGrid_content h1, p {
   margin-bottom: 0;
}


#nextGames{
   margin-top: var(--2xDist);
}
.game td div .ranking {
   display: inline-block;
}

.game td div p{
   display: inline-block;
}

.ranking {
   width: var(--1xDist);
   height: var(--1xDist);
   border-radius: var(--border-radius);
   margin: 0 10px 0 0;
}

.ranking p{
   text-align: center;
   color: white;
   width: var(--1xDist);
}


.ranking[data-bg="bronze"] {
   background-color: #b4764a;
}

.ranking[data-bg="silver"] {
   background-color: #989892;
}

.ranking[data-bg="gold"] {
   background-color: #c9a31a;
}

.ranking[data-bg="other"] {
   background-color: rgba(30, 31, 34, 0.66);
}




@media (orientation: portrait) {

   body {
      overflow-x: hidden;
   }

   #nextGames table tr{
      display: grid;
      grid-template-columns: 3fr 2fr;
      height: auto;
      padding: var(--05xDist) 0 var(--05xDist) 0;
   }

   #nextGames table :nth-child(1 of .bigRow){
      visibility: hidden;
      display: none;
   }

   .time {
      color: var(--accentColorHover);
   }

   .class {
      color: var(--accentColorHover);
   }

   #startText  {
      display: block;
      height: auto;

   }

   #startText  .text_content{
      width: 90%;
      margin-left: 5%;
   }



   #start-img-container {
      height: 700px;
      margin: var(--1xDist) 0 0 0;
   }

   #start-img-container img{
      border-radius: 0;
   }





   #infoBoxes {
      display: block;

   }

   .box {
      padding: var(--1xDist);
   }

   #infoBoxes :nth-child(n of .box){
      margin: var(--1xDist) 0 var(--1xDist) 0;
   }

   .news {
      background-color: rgba(0,0,0,0);
      padding: 0;
   }

   .news h2 {
      margin-left: var(--1xDist);
   }

   #newsWrapper {
      display: block;
   }

   .newsItem {
      height: 900px;
      border-radius: 0;
   }

   .image, .image img{
      height: 700px;
   }

   .titleWrapper {
      height: 200px;
   }

   #newsWrapper :nth-child(n of .newsItem) {
      margin: var(--1xDist) 0 var(--1xDist) 0;
   }

   .box p {
      margin-bottom: 150px;
   }

   .box button{
      font-size: var(--font-size);
      line-height: var(--font-line-height);
      padding: 20px 40px 20px 40px;
      height: auto;
      width: auto;
      right: var(--1xDist);
      bottom: var(--1xDist);
   }


   #nextGames h1{
      margin-left: var(--1xDist);
   }

   .game {
      gap: 1px;
   }

   .ranking {
      border-radius: 100px;
   }

   .ranking p{
      line-height: 80px;
   }

   .game td {
      display: flex;
      justify-content: center;
      flex-direction: column;
   }

   #text_content h1{
      width: 100%;
      margin-left: 0;
   }


}

